<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "shortcut icon" type = "image/x-icon" href = "/img/TitleLogo.png">
  <title>씨애랑 SW 전시회</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

  <%- include('./partials/head') %>

</head>

<body>
  <%- include('./partials/header') %>
    s
    <section>
      <div id="section1_container">
        <img src="/img/TitleLogo.png" alt="씨애랑 로고 이미지">
        <p class="typing-txt">C·AERANG</p>
      </div>

      <div id = "section2_container">
        <h1>TEAM EXPLANATION</h1>
        <div class = "team1_select">
          <div class = "team1_img">
            <a href="/posts/raon"><img src="/img/RaonLogo.png" alt="라온 로고 이미지" ></a>
          </div>
          <div class = "img1_info">
            <h3>RAON</h3>
            <p>게임 및 컨텐츠 제작하는 팀 입니다.</p>
          </div>
        </div>
        <div class = "team2_select">
          <div class = "team2_img">
            <a href="/posts/tag"><img src="/img/TagLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img2_info">
            <h3>TAG</h3>
            <p>웹 개발 및 서버관리하는 팀 입니다.</p>
          </div>
        </div>
        <div class = "team3_select">
          <div class = "team3_img">
            <a href="/posts/latte"><img src="/img/LatteLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img3_info">
            <h3>LATTE</h3>
            <p>모바일 프로그램 제작 팀 입니다.</p>
          </div>
        </div>
        <div class = "team4_select">
          <div class = "team4_img">
            <a href="/posts/tensor"><img src="/img/TensorLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img4_info">
            <h3>TENSOR</h3>
            <p>AI 개발 팀 입니다.</p>
          </div>
        </div>
        <div class = "team5_select">
          <div class = "team5_img">
            <a href="/posts/core"><img src="/img/CoreLogo.png" alt="태그 로고 이미지" ></a>
          </div>
          <div class = "img5_info">
            <h3>CORE</h3>
            <p>전자회로 팀 입니다.</p>
          </div>
        </div>
      </div>
      <div id="section3_container">

      </div>

    </section>


    <%if(isAuthenticated) {%>
      <div>
        <%=currentUser.user.nickname%>
      </div>
      <div>
        이메일 : <%=currentUser.user.email%>
      </div>
      <div>
        등급 : <%=currentUser.user.role%>
      </div>
      <%if(currentUser.user.role==='일반'){%>
        <br>
        <a id="role">관리자권한 신청</a>
        <%}%>
          <a href="/auth/logout">logout</a>

          <%}else{%>
            <a href="/auth/kakao">login</a>
            <%}%>

              <a href="/posts/tag">태그</a>
              <a href="/posts/laon">라온</a>



              <script src="http://code.jquery.com/jquery-latest.min.js"></script>
              <script src="./js/main.js"></script>

</body>

</html>