<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

  <%- include('./partials/head') %>

</head>

<body>
  <%- include('./partials/header') %>
    

    <section>
      <div id="section1_container">
        <ul>
          <li><img src="/img/TitleLogo.png" alt="씨애랑 로고 이미지"></li>
        </ul>
        <p class="typing-txt">C·AERANG</p>

      </div>
      <div id="section2_container">
        <ul class="raon">
          <li><a href="/posts/raon"><img src="/img/RaonLogo.png" alt="라온 로고 이미지" target="_blank" id="main2_container" width="120"
                height="120"></a></li>
        </ul>
        <ul class="tag">
          <li><a href="/posts/tag"><img src="/img/TagLogo.png" alt="태그 로고 이미지" target="_blank" id="main2_container" width="120"
                height="120"></a></li>
        </ul>
        <ul class="latte">
          <li><a href="/posts/latte"><img src="/img/LatteLogo.png" alt="라떼 로고 이미지" target="_blank" id="main2_container" width="120"
                height="120"></a></li>
        </ul>
        <ul class="tensor">
          <li><a href="/posts/tensor"><img src="/img/TensorLogo.png" alt="텐서 로고 이미지" target="_blank" id="main2_container" width="120"
                height="120"></a></li>
        </ul>
        <ul class="core">
          <li><a href="/posts/core"><img src="/img/CoreLogo.png" alt="코어 로고 이미지" target="_blank" id="main2_container" width="120"
                height="120"></a></li>
        </ul>
      </div>
      <div id="section3_container">

      </div>

    </section>


    <%if(isAuthenticated) {%>
      <div>
        <%=currentUser.user.nickname%>
      </div>
      <div>
        이메일 : <%=currentUser.user.email%>
      </div>
      <div>
        등급 : <%=currentUser.user.role%>
      </div>
      <%if(currentUser.user.role==='일반'){%>
        <br>
        <a id="role">관리자권한 신청</a>
        <%}%>
          <a href="/auth/logout">logout</a>

          <%}else{%>
            <a href="/auth/kakao">login</a>
            <%}%>

              <a href="/posts/tag">태그</a>
              <a href="/posts/laon">라온</a>



              <script src="http://code.jquery.com/jquery-latest.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
              <script src="./js/main.js"></script>

</body>

</html>