<!DOCTYPE html>
<html>

<head>
  <link rel = "shortcut icon" type = "image/x-icon" href = "/img/TitleLogo.png">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/team.css">
    <link rel="stylesheet" type="text/css" href="/css/team_header.css">
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div id="all">
    <%- include('../partials/team_header') %>
    <div id="top">
      
      <% if(team == "TAG"){ %>
        <img id="teamTitle" src="/img/TagLogo.png">
      <%} else if(team == "RAON"){%>
        <img id="teamTitle" src="/img/RaonLogo.png">
      <%} else if(team == "LATTE"){%>
        <img id="teamTitle" src="/img/LatteLogo.png">
      <%} else if(team == "TENSOR"){%>
        <img id="teamTitle" src="/img/TensorLogo.png">
      <%} else if(team == "SHIELD"){%>
        <img id="teamTitle" src="/img/Shield.jpg">
      <%}%>

      <span id="teamName">Team <%=team%></span>
    </div>

    <section>
      <div id="itemList">
        <% if(posts==null || posts.length==0){ %>
          <span>게시물이 없습니다.</span>
          <% } else{%>
            <% posts.forEach(function(post, index) { %>
              <div class="item">
                <h3>
                  <%= post.title %>
                </h3>
                <img class="itemImg" src="/<%= post.image%>" data-id="<%= post._id %>">
                <div class="cons">
                  <img class="con" src="/img/like.png" style="margin-bottom:3px;">
                  <span class="heartCount"><strong>
                      <%=post.like%>
                    </strong></span>
                  <img class="con" src="/img/comment.png">
                  <span class="commentCount"><strong>
                      <%= post.comments.length%>
                    </strong></span>
                </div>
              </div>
              <% })} %>

              <% if(isAuthenticated) {%>
                <%if(currentUser.user.role=='관리자' ){%>
                  <div>
                    <a class="btn btn-primary" href="/posts/new">NEW</a>
                  </div>
                  <%}}%>
                    <script src="../js/team.js"></script>
      </div>
    </section>



    
  </div>
  
</body>

</html>