<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/show.css">
</head>

<body>
  <%- include('../partials/header') %>

    <section>
      <div class="card">
        <div class="date">
          <div><span>작성일</span> : <span data-date-time="<%= post.createdAt %>"></span></div> <!-- 2 -->
          <% if(post.updatedAt) { %>
            <div><span>수정일</span> : <span data-date-time="<%= post.updatedAt %>"></span></div> <!-- 2 -->
            <% } %>
        </div>
        <div id="content">
          <h1 class="detailTitle">
            <%= post.title %>
          </h1>
          <img class="detailImg" src="/<%=post.image%>" alt="이미지">
          <div class="post">
            <%- post.contents %>

            <div class="menu">
              <%if(currentUser.user.role=='관리자' ){%>
                <div class="like">
                  <%}%>
                    <button id="like_btn">
                      <% if(isLiked) { %>
                        좋아요취소
                        <%} else{ %>
                          좋아요
                          <%}%>
                    </button>
                    <span id="liked">
                      <%=post.like%>
                    </span>
                </div>
    
                <a class="edit" href="/posts/edit/<%=post._id%>">Edit</a>
                <form action="/posts/<%=post.team %>/<%= post._id %>?_method=delete" method="post" class="delete">
                  <a class="delete_btn" href="javascript:void(0)"
                    onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
                </form>
            </div>
          </div>
        </div>
       

        

        
        <div class="comment">
          <h3>Comments</h3>
          <table class="comment_set">
            <input type="hidden" id="id" value="<%=post._id%>">
            <input type="hidden" id="author" value="<%=post.author%>">
            <thead>
              <th>작성자</th>
              <th>내용</th>
              <th>작성일</th>
              <th></th>
              
            </thead>

            <% if(post.comments !=null){ %>
              <% for(let i=0; i<post.comments.length; i++){ %>
                

                <tr>
                  <td class="author"><%=post.comments[i].author%></td>
                  <td class="text">
                    <%=post.comments[i].contents %>
                  </td>
                  <td class="c_date" data-date-time="<%= post.comments[i].createdAt %>">
                    <%=post.comments[i].createdAt %>
                  </td>
                  <% if(post.comments[i].author==currentUser.user.nickname) { %>
                    <td class="c_delete">
                      <button type="submit" class="btn btn-warning delete_comments"
                        data-id="<%= post.comments[i]._id %>">삭제</button>
                    </td>
                    <% }else{ %>
                      <td></td>
                      <%}%>

                </tr>
                <% }} %>
          </table>

          <div class="comment_input">
            <textarea class="form-control" placeholder="Leave a comment here" id="contents" name="contents"></textarea>
          </div>
          <button type="submit" class="comment_sub" id="add_comments">작성</button>
          <br>
        </div>
      </div>
    </section>




    <!-- 이 밑에는 댓글부분 -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>


    <script>
      $('.like').click(function () {
        let post_id = $('#id').val();
        let user_id = $('#user_id').val()

        $.ajax({
          method: 'post',
          url: `/posts/like/`,
          data: {
            post_id: post_id,
            user_id: user_id,
          }
        }).done(function (결과) {
          alert(결과)
          $("#liked").load(window.location.href + " #liked");
          $("#like").load(window.location.href + " #like");
        }).fail(function (a, b, c) {
          alert('좋아요 실패')
          // $("#liked").load(window.location.href + " #liked");
        });
      })

      $('#add_comments').click(function () {
        let post_id = $('#id').val()
        let author = $('#author').val()
        let contents = $('#contents').val()

        $.ajax({
          method: 'POST',
          url: '/comments',
          data: {
            id: post_id,
            author: author,
            contents: contents
          }
        }).done(function (결과) {
          alert('댓글작성 성공')
          location.href = '/posts/detail/' + post_id
        }).fail(function (a, b, c) {
          alert('댓글작성 실패')
          location.href = '/posts/detail/' + post_id
        });
      })

      $('.delete_comments').click(function (e) {
        let post_id = $('#id').val();
        let comment_index = e.target.dataset.id;

        let isdelete = confirm('삭제 하시겠습니까?')
        if (isdelete) {
          $.ajax({
            method: 'DELETE',
            url: '/comments',
            data: {
              id: post_id,
              c_index: comment_index,
            }
          }).done(function (결과) {
            alert('댓글삭제 성공')
            location.href = '/posts/detail/' + post_id
          }).fail(function (a, b, c) {
            alert('댓글삭제 실패')
            location.href = '/posts/detail/' + post_id
          });
        }
      })




    </script>
</body>

</html>